name: Tests(darwin)

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  test:
    runs-on: macos-latest

    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.25.x'

      - name: Install gopjrt shared libraries
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        shell: bash
        run: |
          (cd ./cmd/gopjrt_installer && go install .)
          sudo env GH_TOKEN=$GH_TOKEN $(go env GOPATH)/bin/gopjrt_installer -plugin darwin -version latest -path /usr/local

      - name: PreTest
        run: |
          export LD_LIBRARY_PATH=/usr/local/lib
          go test . -test.v

      - name: Test
        run: |
          export LD_LIBRARY_PATH=/usr/local/lib
          go test ./pjrt/...
